<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartPert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Pert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SmartPert.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;Database=SmartPertDB;Integrated Security=True</value>
            </setting>
            <setting name="RefreshPeriod" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LastProject" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
        </SmartPert.Properties.Settings>
        <Pert.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;Database=SmartPertDB;Integrated Security=True</value>
            </setting>
            <setting name="RefreshPeriod" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LastProject" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
        </Pert.Properties.Settings>
    </userSettings>
</configuration>
