<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PERT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PERT.Properties.Settings>
            <setting name="RefreshPeriod" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>"System.Data.SqlClient" ConnectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Pert;Integrated Security=True;Pooling=False;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"</value>
            </setting>
        </PERT.Properties.Settings>
    </userSettings>
</configuration>